---
- name: Determine controller repo host
  ansible.builtin.set_fact:
    slurm_repo_host: "{{ network_config.server_ip }}"

- name: Install local Slurm repo file
  ansible.builtin.template:
    src: slurm.repo.j2
    dest: /etc/yum.repos.d/slurm-local.repo
    owner: root
    group: root
    mode: '0644'
