---
# roles/common/defaults/main.yml
common_groups:
  - name: cluster
    system: true

common_packages:
  - vim
  - git
  - curl
  - net-tools
  - python3
  - python3-devel
  - python3-pip
  - rsync
  - tmux

common_users:
  - name: ansible
    groups: [wheel]
    shell: /bin/bash
    authorized_key: "{{ lookup('file', '~/.ssh/id_ed25519.pub', errors='ignore') }}"

common_sysctl:
  vm.swappiness: 10
  net.ipv4.ip_forward: 1

common_limits:
  - domain: "*"
    type: "soft"
    item: "nofile"
    value: 65535
  - domain: "*"
    type: "hard"
    item: "nofile"
    value: 65535

server_ip: "{{ network_config.server_ip }}"
slurm_repo_gpgcheck: "{{ slurm_mirror.gpgcheck | default(0) }}"
