---
- name: Ensure Pavilion OS dependencies are present
  ansible.builtin.package:
    name:
      - git
      - python3
      - python3-pip
      - python3-virtualenv
    state: present

- name: Create Pavilion install parent dir
  ansible.builtin.file:
    path: "{{ validation_pavilion.install_dir }}"
    state: directory
    mode: "0755"

- name: Clone Pavilion2 repository
  ansible.builtin.git:
    repo: "{{ validation_pavilion.repo_url }}"
    dest: "{{ validation_pavilion.install_dir }}"
    version: "{{ validation_pavilion.repo_version }}"
    update: yes

- name: Ensure Pavilion working directory exists
  ansible.builtin.file:
    path: "{{ validation_pavilion.work_dir }}"
    state: directory
    mode: "0775"

- name: Ensure Pavilion virtualenv exists
  ansible.builtin.command:
    cmd: "python3 -m venv {{ validation_pavilion.venv_path }}"
  args:
    creates: "{{ validation_pavilion.venv_path }}/bin/activate"

- name: Upgrade pip tooling inside Pavilion virtualenv
  ansible.builtin.pip:
    name: "{{ validation_pavilion.bootstrap_packages }}"
    state: present
    virtualenv: "{{ validation_pavilion.venv_path }}"
    virtualenv_command: python3 -m venv

- name: Install Pavilion Python dependencies
  ansible.builtin.pip:
    requirements: requirements.txt
    virtualenv: "{{ validation_pavilion.venv_path }}"
    virtualenv_command: python3 -m venv
  args:
    chdir: "{{ validation_pavilion.install_dir }}"
