# Hardened template for apache
Alias /os "{{ pxe_settings.http_root }}/os"

<Directory "{{ pxe_settings.http_root }}/os">
    Options +Indexes
    AllowOverride None
    Require all granted
</Directory>
