# Cluster PXE and DHCP configuration

port=0
listen-address={{ pxe_settings.server_ip }}
# Bind dynamically so interface flaps don't kill the daemon; scope to our IP
bind-dynamic
except-interface=lo
log-dhcp
dhcp-authoritative

# DHCP range and options (from config/net.yml)
dhcp-range={{ pxe_settings.dhcp_range_start }},{{ pxe_settings.dhcp_range_end }},{{ pxe_settings.dhcp_netmask }},12h
dhcp-option=3,{{ pxe_settings.gateway }}
dhcp-option=6,{{ pxe_settings.dns }}

# Static host reservations (from inventory)
{% for group in ['compute'] %}
{% for host in groups.get(group, []) %}
{% set host_ip = hostvars[host].ansible_host | default(host) %}
{% set macs = hostvars[host].get('nic_mac', []) %}
{% for mac in macs %}
{% if mac and mac != '00:00:00:00:00:00' %}
dhcp-host={{ mac | lower }},{{ host }},{{ host_ip }},infinite
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}

# iPXE detection and architecture tagging
dhcp-match=set:ipxe,option:user-class,"iPXE"
dhcp-match=set:efi64,option:client-arch,7
dhcp-match=set:efi64,option:client-arch,9
dhcp-match=set:efi64,option:client-arch,11
dhcp-match=set:efi64,option:client-arch,12

# Boot logic
dhcp-boot=tag:ipxe,http://{{ pxe_settings.server_ip }}/boot.ipxe
dhcp-boot=tag:efi64,tag:!ipxe,{{ pxe_settings.uefi_name }}
dhcp-boot=tag:!efi64,tag:!ipxe,undionly.kpxe

# Enable TFTP service
enable-tftp
tftp-root={{ pxe_settings.tftp_root | default('/srv/tftp') }}

# PXE menu text and timeout
pxe-service=BC_EFI, "Network Boot (UEFI)", {{ pxe_settings.uefi_name }}
pxe-prompt="Booting cluster installation...",{{ pxe_settings.timeout_ms }}
