[slurm-local]
name=Slurm Offline Repo
baseurl=http://{{ controller_ip | default(server_ip) }}/slurm
enabled=1
gpgcheck={{ slurm_repo_gpgcheck | default(0) }}
{% if slurm_repo_gpgcheck | default(0) | bool -%}
gpgkey=http://{{ controller_ip | default(server_ip) }}/slurm/GPG-KEY-SLURM
{% endif -%}
