---
common_groups:
  - name: cluster
    system: true

common_packages:
  - python3

common_users:
  - name: ansible
    groups: [wheel]
    shell: /bin/bash
    authorized_key: "{{ lookup('file', '~/.ssh/id_ed25519.pub', errors='ignore') }}"

server_ip: "{{ network_config.server_ip }}"
