---
# roles/scheduler/tasks/firewall.yml
- name: Ensure firewalld is installed for Slurm traffic control
  ansible.builtin.package:
    name: firewalld
    state: present

- name: Ensure firewalld is running
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true

- name: Allow Slurm control-plane ports
  ansible.posix.firewalld:
    port: "{{ item }}"
    state: enabled
    zone: public
    permanent: yes
  loop:
    - "6817/tcp"
    - "6818/tcp"

- name: Reload firewalld after Slurm rules
  ansible.builtin.service:
    name: firewalld
    state: reloaded
  changed_when: false
