---
# roles/scheduler/tasks/main.yml
- name: Scheduler
  block:
    - name: Import scheduler preflight tasks
      ansible.builtin.import_tasks: preflight.yml
      tags:
        - slurm
        - slurm_preflight

    - name: Import scheduler firewall tasks
      ansible.builtin.import_tasks: firewall.yml
      tags:
        - slurm
        - slurm_firewall

    - name: Import scheduler controller tasks
      ansible.builtin.import_tasks: controller.yml
      when: inventory_hostname in groups['controller']
      tags:
        - slurm
        - slurm_controller

    - name: Import scheduler compute tasks
      ansible.builtin.import_tasks: compute.yml
      when: inventory_hostname in groups['compute']
      tags:
        - slurm
        - slurm_compute

    - name: Import scheduler validation tasks
      ansible.builtin.import_tasks: validate.yml
      tags:
        - slurm
        - slurm_validate
