---
# roles/scheduler/tasks/
slurm:
  user: slurm
  group: slurm
  version: 23.11.2
  install_method: package          # or 'source'
  controller_host: "{{ groups['controller'][0] | default('head') }}"
  slurm_conf_path: /etc/slurm/slurm.conf
  state_save_location: /var/spool/slurmctld
  slurmd_spool_dir: /var/spool/slurmd
  log_dir: /var/log/slurm
  accounting_storage_host: "{{ groups['controller'][0] | default('head') }}"
  cluster_name: "{{ cluster_name | default('hpc_cluster') }}"
  control_port: 6817
  compute_port: 6818
  nodes: "{{ groups['compute'] | default([]) }}"

  munge_key_src: "{{ scheduler_munge_key_src | default('', true) }}"
